<div class="home-container">
  <header>
    <h1>Lozoppe</h1>
    <nav>
      <button mat-icon-button (click)="toggleCart()">
        <mat-icon>shopping_cart</mat-icon>
      </button>

      <span *ngIf="loggeduser$ | async as user">Hello, {{user.first_name}}</span>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </nav>
  </header>

  <main>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select id="category" formControlName="category" placeholder="Select Category">
        <mat-option *ngFor="let category of categories$ | async" [value]="category.category_id">
          {{ category.category_name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    
    <!-- Main product listing -->
    <div class="product-list" *ngIf="products$ | async as products">
      <div *ngFor="let product of products " class="product-card">
        <img [src]="product.product_img" alt="{{ product.product_name }}" />
        <h3>{{ product.product_name }}</h3>
        <p>{{ product.currency | uppercase }} {{ product.price | number:'1.2-2'}}</p>
        
        <div class="quantity-selector">
          <button mat-mini-button (click)="decreaseQuantity(product)">-</button>
          <span>{{ productQuantities[product.product_name] || 1 }}</span>
          <button mat-mini-button (click)="increaseQuantity(product)">+</button>
        </div>
    
        <div class="actions">
          <button 
            mat-raised-button 
            color="primary" 
            (click)="addToCart(product)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </main>

  <!-- Cart Dropdown -->
  <app-cart *ngIf="isCartVisible"></app-cart>
  
</div>
