<mat-card>
    <h1>Forgot Password Recovery</h1>
    <p>
      Already have an account? 
      <a routerLink="/login">Login here</a>
    </p>
    <mat-card-content>
      <!-- Username Verification Form -->
      <form *ngIf="!(otp$ | async)" [formGroup]="loginForm" (ngSubmit)="verifyOTP()">
        <mat-form-field appearance="fill">
          <mat-label>Enter Username</mat-label>
          <input matInput formControlName="username" required />
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
            Username is required
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Verify Username
        </button>
      </form>
  
      <!-- OTP and Password Change Form -->
      <form *ngIf="otp$ | async" [formGroup]="otpLoginForm" (ngSubmit)="changePassword()">
        <mat-form-field appearance="outline">
          <mat-label>Enter OTP</mat-label>
          <input matInput formControlName="otp" required />
          <mat-error *ngIf="otpLoginForm.get('otp')?.hasError('required')">
            OTP is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Enter New Password</mat-label>
          <input matInput formControlName="newPassword" type="password" required />
          <mat-error *ngIf="otpLoginForm.get('newPassword')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="otpLoginForm.invalid">
          Change Password
        </button>

        <div *ngIf="changePasswordMessage$ | async as changePasswordMessage" class="success-message">
          {{ changePasswordMessage }}
        </div>
        <div *ngIf="changePasswordFailure$ | async as changePasswordFailure" class="success-message">
          {{ changePasswordFailure }}
        </div>
      </form>
  
      <!-- Success and Error Messages -->
      <div *ngIf="messageSuccess$ | async as successMessage" class="success-message">
        {{ successMessage }}
      </div>
  
      <div *ngIf="errorMessage$ | async as errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </mat-card-content>
  </mat-card>
  