.sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 240px;
  }
  
  .mat-toolbar.mat-primary {
    color: white;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .content {
    padding: 20px;
  }
  
  